<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Page </title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>


    <div class="container">
        <div class="cards">
            <div class="emp-card">
                    <img src="https://picsum.photos/200" alt="" srcset="">
                    <div class="profile-data">
                        <h3 class="name">Montu Sharma</h3>
                        <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas maecenas pharetra convallis posuere morbi. Orci ac auctor augue mauris augue.</p>
                        <div class="skills">
                            <h5>Skills</h5>
                            <ul><li> Java </li>
                                <li> Spring boot </li>
                                <li> Azure </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="emp-card">
                <img src="https://picsum.photos/200" alt="" srcset="">
                <div class="profile-data">
                    <h3 class="name">Gokul JayaKumar</h3>
                    <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas maecenas pharetra convallis posuere morbi. Orci ac auctor augue mauris augue.</p>
                    <div class="skills">
                        <h5>Skills</h5>
                        <ul><li> Java </li>
                            <li> Spring boot </li>
                            <li> Azure </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="emp-card">
                <img src="https://picsum.photos/200" alt="" srcset="">
                <div class="profile-data">
                    <h3 class="name">Adarsh P Nair</h3>
                    <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas maecenas pharetra convallis posuere morbi. Orci ac auctor augue mauris augue.</p>
                    <div class="skills">
                        <h5>Skills</h5>
                        <ul>
                            <li> Java </li>
                            <li> Spring boot </li>
                            <li> Azure </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>